@use '@/App/styles/mixins/fontMixins' as mixins;

.skillsSection {
    width: 100%;
    padding: 5vh 10vw;

    display: flex;
    gap: 48px;

    transition: all 0.3s ease-in-out;

    //  Mobile
    @media screen and (max-width: 450px) {
        padding: 3vh 10vw;

        flex-direction: column;
        gap: 24px;
    }

    &_hardSkills,
    &_softSkills {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 32px;

        //  Mobile
        @media screen and (max-width: 450px) {
            width: 100%;

            gap: 16px;
        }

        &_title {
            @include mixins.heading;
            color: var(--text-color);

            //  Mobile
            @media screen and (max-width: 450px) {
                @include mixins.heading-mobile;
            }

            &__primary {
                color: var(--color-primary);
            }
        }

        &_skillCardsBox {
            display: flex;
            flex-direction: column;
            gap: 32px;

            //  Mobile
            @media screen and (max-width: 450px) {
                gap: 16px;
            }
        }
    }
}
