@use '@/App/styles/mixins/fontMixins' as mixins;

.button {
    padding: 12px 24px;

    @include mixins.button-text;
    color: var(--text-color);

    background-color: transparent;

    border: 2px solid transparent;
    border-radius: 22px;

    -webkit-box-shadow: 4px 4px 8px 0px var(--button-shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--button-shadow-color);
    box-shadow: 4px 4px 8px 0px var(--button-shadow-color);

    transition: all 0.3s ease-in-out;

    &:hover {
        border: 2px solid var(--color-primary);
    }

    &__unvisible {
        opacity: 0;
    }
}
