@use '@/App/styles/mixins/fontMixins' as mixins;

.portfolioSection {
    width: 100%;
    padding: 5vh 12vw;

    display: flex;
    flex-direction: column;
    gap: 48px;

    transition: all 0.3s ease-in-out;

    &_title {
        @include mixins.heading;
        color: var(--text-color);

        &__primary {
            color: var(--color-primary);
        }
    }
}
