@use '@/App/styles/mixins/fontMixins' as mixins;

.skillCard {
    width: 100%;
    padding: 24px 24px;

    display: flex;
    gap: 12px;

    @include mixins.skill-card-text;
    color: var(--text-color);

    background-color: var(--background-color);

    border-radius: 24px;

    -webkit-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    box-shadow: 4px 4px 8px 0px var(--shadow-color);

    opacity: 0;
    transform: translateX(64px);

    transition: all 0.3s ease-in-out;

    &:hover {
        -webkit-box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
        -moz-box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
        box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
    }

    &__show {
        opacity: 1;
        transform: translateX(0);
    }

    &_mark {
        width: 12px;
        height: 12px;
        margin-top: 8px;

        flex-shrink: 0;

        border-radius: 12px;

        background-color: var(--color-primary);
    }
}
