@use '@/App/styles/mixins/fontMixins' as mixins;

.skillCard {
    width: 100%;
    padding: 24px 24px;

    display: flex;
    gap: 12px;

    @include mixins.skill-card-text;
    color: var(--text-color);

    background-color: var(--background-color);

    border-radius: 24px;

    -webkit-box-shadow: var(--shadow-card);
    -moz-box-shadow: var(--shadow-card);
    box-shadow: var(--shadow-card);

    transition: all 0.3s ease-in-out;

    //  Mobile
    @media screen and (max-width: 450px) {
        padding: 16px 16px;

        @include mixins.skill-card-text-mobile;
    }

    &:hover {
        -webkit-box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
        -moz-box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
        box-shadow: 4px 4px 32px 0px var(--shadow-color) inset;
    }

    &_mark {
        width: 12px;
        height: 12px;
        margin-top: 8px;

        flex-shrink: 0;

        border-radius: 6px;

        background-color: var(--color-primary);

        //  Mobile
        @media screen and (max-width: 450px) {
            width: 8px;
            height: 8px;

            margin-top: 4px;

            border-radius: 4px;
        }
    }
}
