:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --weight-bold: 700;
    --weight-regular: 400;

    --letter-spacing: 120%;

    --font-size-logo-text: 28px;
    --font-size-logo-text__small: 20px;
    --font-size-link: 16px;
    --font-size-heading: 40px;
    --font-size-button-text: 24px;
    --font-size-skill-card-text: 24px;
}
