@use './../variables/globals';

//  Desktop

@mixin logo-text {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-logo-text);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing);
}
@mixin logo-text__small {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-logo-text__small);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin link {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-link);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin heading {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-heading);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin button-text {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-button-text);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing);
}

@mixin skill-card-text {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-skill-card-text);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin date {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-date);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing);
}

@mixin project-name {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-project-name);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin project-description {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-project-description);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin position {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-position);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

//  Mobile

@mixin logo-text-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-logo-text-mobile);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing);
}
@mixin logo-text-mobile__small {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-logo-text-mobile__small);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}
@mixin link-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-link-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}
@mixin heading-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-heading-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}
@mixin skill-card-text-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-skill-card-text-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}
@mixin date-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-date-mobile);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letter-spacing);
}

@mixin project-name-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-project-name-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin project-description-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-project-description-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}

@mixin position-mobile {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-position-mobile);
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing);
}
