html[data-theme='dark'] {
    //  Text
    --text-color: #ececec;
    //  Body
    --background-color: #191820;
    // Button
    --shadow-color: #000000ca;
}

html[data-theme='light'] {
    //  text
    --text-color: #191820;
    //  Body
    --background-color: #ececec;
    // Button
    --shadow-color: #00000036;
}

html {
    --color-primary: #30d5c8;
    --color-primary-transparent75: #30d5c848;
    --color-primary-transparent95: #30d5c8SF;
}
